html, body{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: linear-gradient(0deg, rgba(203,214,81,1) 0%, rgba(230,224,125,1) 100%);
}

#count-down-main{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#count-down-label{
    font-size: 50px;
    background: linear-gradient(rgba(0,0,0,0) 60%, #f08300 70%, rgba(0,0,0,0) 90%);
    margin-bottom: 20px;
}

#count-down{
    display: flex;
    align-items: flex-end;
    padding: 50px;
    border-radius: 67% 82% 79% 78% / 67% 71% 92% 77% ;
    background: linear-gradient(90deg, rgba(203,214,81,0.9) 0%, rgba(228,173,63,0.9) 70%, rgba(255,155,0,0.8) 100%);
}
#count-down-second{
    font-size: 100px;
    font-family: "Titan One", cursive;
    margin-right: 10px;
}
#count-down-unit{
    font-size: 50px;
}