*{
    font-family: 'M PLUS 1p', sans-serif;
}

html{
    width: 100%;
    height: 100%;
    overflow: hidden;
    user-select: none;
}

body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    position: relative;
    user-select: none;
}

h1{
    margin: 0px;
    padding: 0px;
}

#header{
    width: 100%;
    height: 5%;
    background-color: #3e62ad;
    background-color: #507ea4;
    margin: 0px;
    padding: 0px;
    border-bottom: solid 3px #708090;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#header.match{
    background-color: #f08300;
    border-color: #f8b862;
}
#header.game{
    background-color: #aacf53;
    border-color: #c7dc68;
}

#title{
    line-height: 80%;
    font-weight: 200;
    padding-left: 20px;
}

#username-label{
    line-height: 80%;
    font-weight: 200;
    color: #c1e4e9;
    padding-left: 10px;
    margin-right: 50px;
    filter: drop-shadow(0px 0px 10px #0094c8);
}
#username-label.match{
    color: #ffd900;
    filter: drop-shadow(0px 0px 10px #fef263);
}
#username-label.game{
    color: #cee4ae;
    filter: drop-shadow(0px 0px 10px #c1d8ac);