<div class="contact-question-container">
    <div class="contact-question-title">
        <span class="material-symbols-outlined contact-question">chat</span>
        <h1 class="contact-question-title-text">何かしらの問い合わせタイトル|苦情の例</h1>
    </div>

    <div class="contact-question-answer">問い合わせに対する返事。ああああああああああああああああああああああああ</div>
</div>

<div class="contact-question-container">
    <div class="contact-question-title">
        <span class="material-symbols-outlined contact-question">forum</span>
        <h1 class="contact-question-title-text">何かしらの問い合わせタイトル|要望の例</h1>
    </div>

    <div class="contact-question-answer">問い合わせに対する返事。ああああああああああああああああああああああああ</div>
</div>

<div class="contact-question-container">
    <div class="contact-question-title">
        <span class="material-symbols-outlined contact-question">contact_support</span>
        <h1 class="contact-question-title-text">何かしらの問い合わせタイトル|質問の例</h1>
    </div>

    <div class="contact-question-answer">問い合わせに対する返事。ああああああああああああああああああああああああ</div>
</div>

<div class="contact-question-container">
    <div class="contact-question-title">
        <span class="material-symbols-outlined contact-question">chat_bubble</span>
        <h1 class="contact-question-title-text">何かしらの問い合わせタイトル|その他の例だだだだだ</h1>
    </div>

    <div class="contact-question-answer">問い合わせに対する返事。ああああああああああああああああああああああああ</div>
</div>
