{% extends "layout.html" %}

{% block content %}

<div id="game-main">
    <div id="game-info-area">
        {{ game_info | safe}}
    </div>

    <div id="game-button-area">
        <select id="game-problem-select">
            {{ problem_select | safe }}
        </select>
        <button class="game-home-button">ホーム</button>
    </div>

    <div id="game-editor-area">
    </div>

    <div id="game-run-button-area">
        <button class="game-run-button" onclick="runGameProgram();">実行</button>
        <button class="game-submit-button">提出</button>
    </div>

    <div id="game-output-area">
        <div class="game-output-title">出力</div>

        <div id="output-container">
        </div>
    </div>
</div>

<script src = "game.js"></script>
<link rel="stylesheet" href="game.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/ace.js"></script>
<link href="https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@300&family=Roboto+Mono&family=Zen+Kaku+Gothic+Antique:wght@300;400&display=swap" rel="stylesheet">

<script>
    const editor = ace.edit("game-editor-area")
    editor.setTheme("ace/theme/monokai");
    editor.getSession().setMode("ace/mode/python");
    editor.session.insert(editor.selection.getCursor(), `{{ initial_code | safe}}`);
    editor.setFontSize(18);
    editor.$blockScrolling = Infinity;
    editor.setOptions({
        fontFamily: "Roboto Mono"
    });
</script>
{% endblock %}