{% extends "layout.html" %}

{% block content %}

<div class="index-page-container">
    <div class="index-sidebar">
        <div class="sidebar-menu-item index-menu-learn" onclick="changeItem(0);">学習</div>
        <div class="sidebar-menu-item index-menu-battle" onclick="changeItem(1);">対戦</div>
        <div class="sidebar-menu-item index-menu-game" onclick="changeItem(2);">ゲーム</div>
        <div class="sidebar-menu-item index-menu-contact" onclick="changeItem(3);">お問い合わせ</div>
        <div class="sidebar-menu-item index-menu-app" onclick="changeItem(4);">アプリ情報</div>
        <div class="sidebar-menu-item index-menu-account" onclick="changeItem(5);">アカウント</div>
    </div>

    <div class="index-main-content">
        <div id="index-learn" class="index-section">
            <h1 class="item-section-title">学習</h1>
            <div id="lectures-list-area">
            <div id="lectures-list" class="lectures-list">
            </div></div>
        </div>

        <div id="index-match" class="index-section" style="display: none;">
            <h1 class="item-section-title">対戦</h1>
            <div class="icon-list-section">
                <div class="icon-list-item-container match">
                    <a class="icon-list-item" href="/new">
                        <div class="material-symbols-outlined icon-list-item-icon">add</div>
                        <div class="icon-list-item-label">作成</div>
                    </a>
                </div>
                <div class="icon-list-item-container match">
                    <a class="icon-list-item" href="/enter">
                        <div class="material-symbols-outlined icon-list-item-icon">login</div>
                        <div class="icon-list-item-label">入室</div>
                    </a>
                </div>
                <!--
                <div class="icon-list-item-container match">
                    <a class="icon-list-item" href="/find">
                        <div class="material-symbols-outlined icon-list-item-icon">search</div>
                        <div class="icon-list-item-label">探す</div>
                    </a>
                </div>
                -->
            </div>
        </div>

        <div id="index-game" class="index-section" style="display: none;">
            <h1 class="item-section-title">ゲーム</h1>
            <div class="icon-list-section">
                <!--
                <div class="icon-list-item-container game">
                    <a class="icon-list-item" href="/table">
                        <div class="material-symbols-outlined icon-list-item-icon">swords</div>
                        <div class="icon-list-item-label">対戦ゲーム</div>
                    </a>
                </div>
                -->
                <div class="icon-list-item-container game">
                    <a class="icon-list-item" href="/pencil">
                        <div class="material-symbols-outlined icon-list-item-icon">border_color</div>
                        <div class="icon-list-item-label">ペンシルパズル</div>
                    </a>
                </div>
            </div>
        </div>


        <div id="index-contact" class="index-section" style="display: none;">
            <h1 class="item-section-title">お問い合わせ</h1>
            <div id="index-contact-section">
                <div id="contact-form-container" class="contact-container">
                    <h1 class="contact-container-title">お問い合わせフォーム</h1>

                    <div class="contact-form-section">
                        <label id="contact-textarea-label" for="contact-textarea" class="contact-label">お問い合わせ内容</label>
                        <textarea id="contact-textarea" name="contact-textarea" cols="20" row="5"></textarea>
                    </div>

                    <div class="contact-form-section">
                        <label id="contact-type-label" for="contact-type-select" class="contact-label">お問い合わせ種別</label>
                        <select id="contact-type-select" name="contact-type-select">
                            <option value="request">ご要望</option>
                            <option value="complain">ご苦情</option>
                            <option value="question">ご質問</option>
                            <option value="other">その他</option>
                        </select>
                    </div>

                    <div id="contact-form-msg"></div>
                    <div id="contact-form-errmsg"></div>

                    <button id="contact-submit-button" onclick="sendContact();">送信</button>
                </div>
                <div id="contact-frequently-asked-questions-container" class="contact-container">
                    <h1 class="contact-container-title">よくあるお問い合わせ</h1>

                    <div class="contact-question-container">
                        <div class="contact-question-title">
                            <span class="material-symbols-outlined contact-question">chat</span>
                            <h1 class="contact-question-title-text">何かしらの問い合わせタイトル|苦情の例</h1>
                        </div>

                        <div class="contact-question-answer">問い合わせに対する返事。ああああああああああああああああああああああああ</div>
                    </div>

                    <div class="contact-question-container">
                        <div class="contact-question-title">
                            <span class="material-symbols-outlined contact-question">forum</span>
                            <h1 class="contact-question-title-text">何かしらの問い合わせタイトル|要望の例</h1>
                        </div>

                        <div class="contact-question-answer">問い合わせに対する返事。ああああああああああああああああああああああああ</div>
                    </div>

                    <div class="contact-question-container">
                        <div class="contact-question-title">
                            <span class="material-symbols-outlined contact-question">contact_support</span>
                            <h1 class="contact-question-title-text">何かしらの問い合わせタイトル|質問の例</h1>
                        </div>

                        <div class="contact-question-answer">問い合わせに対する返事。ああああああああああああああああああああああああ</div>
                    </div>

                    <div class="contact-question-container">
                        <div class="contact-question-title">
                            <span class="material-symbols-outlined contact-question">chat_bubble</span>
                            <h1 class="contact-question-title-text">何かしらの問い合わせタイトル|その他の例だだだだだ</h1>
                        </div>

                        <div class="contact-question-answer">問い合わせに対する返事。ああああああああああああああああああああああああ</div>
                    </div>

                </div>
            </div>
        </div>

        <div id="index-app" class="index-section" style="display: none;">
            <h1 class="item-section-title">アプリ情報</h1>
            <div class="icon-list-section">
            </div>
        </div>

        <div id="index-account" class="index-section" style="display: none;">
            <h1 class="item-section-title">アカウント</h1>
            <div class="icon-list-section">
            </div>
        </div>

    </div>

</div>

<link rel="stylesheet" href="index.css">
<link rel="stylesheet" href="contact.css">

<script src="index.js"></script>
<script src="contact.js"></script>

<script>
    makeLectureList();
    changeItem(3);
</script>

{% endblock %}