<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>Programma - 登録完了</title>
        <link rel="stylesheet" href="authorication.css">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@300&family=Noto+Sans+JP&family=Roboto+Mono&family=Zen+Kaku+Gothic+Antique:wght@300;400&display=swap" rel="stylesheet">
    </head>

    <body class="grid-pattern">
        <div class="authorication-page-contents">
            <div class="programma-title">Programma</div>

            <div class="registered_msg">登録が完了しました</div>
            <div class="registered_msg">プログラミング能力向上のため,本サービスを是非ご活用ください!</div>

            <button class="forward-button" onclick="location.href='https://programma.pythonanywhere.com/'">学習を始める</button>

        </div>

        <script src="signin.js"></script>

    </body>
</html>